.BooakCompMain{
    width: 18%;
    height: 33vh;
    margin-left: 18px;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px -5px gray,
    -5px 0 5px -5px gray;
}
.Bookdiv1{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    padding: 2px
}
.Bookdiv2{
    height: 12vh;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.div2c{
    height: 3vh;
    width: 40%;
    display: flex;
}
.divc2ca{
    height: 3vh;
    width: 50%;
    background-color: green;
    color: white;
    margin-right: 2px;
}
.bookimg2{
    height: 2vh;
    width: 2%;
    padding: 10px;
}
.fainttext{
    color:gray;
}