.ForgotOutLine{
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ForgotHeader{
    height: 7vh;
    width: 100%;
    background-color: maroon;
}
.Education{
    position: relative;
    left: 200px;
    font:normal 15px "Product Sans";
    font-family: Arial,sans-serif;
    color: white;
}
.Edu{
    height: 3vh;
    width: 2%;
    margin: 15px;
    position: relative;
    left: 10px;
}
.forgotmaincontent{
    height: 40vh;
    width: 20%; 
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forgottext{
    margin-bottom: 35px;
    font:normal 25px "Product Sans";
    font-family: Arial,sans-serif; 
}
.forgotGroup{
    height: 35vh;
    width: 80%;
}
.forgotGroup1{
    height: 7vh;
    width: 100%;
    margin-top: 15px;
    font:normal 12px "Product Sans";
    font-family: Arial,sans-serif; 
    color: gray;
}
.forgotcreateaccount{
    height: 10vh;
    width: 124%;
    position: relative;
    right: 30px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}
.solver{
    border: 1px solid gainsboro;
    height: 35vh;
    width: 101%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}