.HeaderContainer{
    display: flex;
    height: 8vh;
    width: 100%;
    background-color: maroon;

}
.Header{
    height: 8vh;
    width: 15%;
}
.Booklogo1{
    position: relative;
    left: 200px;
    font:normal 15px "Product Sans";
    font-family: Arial,sans-serif;
    color: white;
    margin-top: 5px;
}
.logo{
    height: 3vh;
    width: 15%;
    margin: 15px;
    position: relative;
    left: 10px;
}
.HeaderSearch{
    height: 8vh;
    width: 30%;
    position: relative;
    left: 200px;
    display: flex;
    align-items: center;
    margin-top: 8px;
}
#aa1{
    height: 3.5vh;
    width: 3wh;
    margin-bottom: 5px;
}
.HeaderProfil{
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 8vh;
    width: 5%;
    position:relative;
    left: 400px;
}
.logo2{
    height: 3vh;
    width:50%;
    margin-top: 10px;
}
.HeaderCart{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    height: 8vh;
    width: 5%;
    position:relative;
    left: 450px;
}
.logo3{
    height: 4vh;
    width:50%;
    margin-top: 10px; 
}
.ts{
    color: white;
}