.paths{
    display: flex;
    font-size: 14px;
    color: rgb(97, 96, 96);
    position: relative;
    left: 100px;
}
#pathtobook{
    color: black;
    font-family: roboto;
    margin-top: 5px;
    margin-left: 3px;
}
.gotohome{
  border: white;
  background-color: white;
  position: relative;
  top: 2px;
  margin-left: 120px;
}
.imagebox{
    display: flex;
    width: 224px;
    border: 1px solid gray;
    height: 270px;
    position: relative;
    top: 20px;
    left: 153px;
}
.booklogo{
    display: flex;
    width: 160px;
    height: 230px;
    position: relative;
    left: 28px;
    top: 20px;
}
.tagbuttons{
    display: flex;
    position: relative;
    top: 50px;
    height: 33px;
}
#addtobag{
    display: flex;
    width: 110px;
    justify-content: center;
    padding-top: 8px;
    margin-left: 148px;
    background-color: brown;
    color: white;
    border-radius: 4px;
}
#wishlist{
    display: flex;
    width: 110px;
    margin-left: 10px;
    border-radius: 4px;
    justify-content: center;
    padding-top: 5px;
    background-color: black;
    color: white;
}
.description{
    display: flex;
    position: relative;
    left: 420px;
    bottom: 290px;
    width: 850px;
}
#booktitle{
    display: flex;
    position: relative;
    bottom: 20px;
    font-size: 25px;
    font-family: roboto;
    font-style: bold;
}
#authorbook{
    display: flex;
    position: relative;
    bottom: 48px;
    left: 2px;
    font-size: 13px;
    color: gray;
}
.ratingbox{
    display: flex;
    justify-content: center;
    width: 40px;
    height: 22px;
    background-color: green;
    color: white;
    position: relative;
    bottom: 55px;
    left: 2px;
}
.countreviewbook{
    display: flex;
    position: relative;
    bottom: 79px;
    left: 55px;
}
.bookprice{
    display: flex;
    position: relative;
    bottom: 70px;
    font-size: 25px;
    font-family: roboto;
    font-weight: bold;
}
.originalprice{
    display: flex;
    position: relative;
    bottom: 95px;
    left: 100px;
    font-size: 14px;
    color: gray;
    text-decoration: line-through;
}
.borderline{
    display: flex;
    width: 830px;
    position: relative;
    right: 6px;
    bottom: 85px;
}
#caption{
    display: flex;
    position: relative;
    bottom: 90px;
    color: gray;
    right: 15px;
}
#Bookparagraph{
    display: flex;
    position: relative;
    bottom: 100px;
    left: 20px;
    font-size: 13px;
    text-align: left;
}
.overallrating{
    background-color: #f4f3f3;
    height: 218px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.submitbutton{
    font-size: 13.5px;
    border-radius: 4px;
    text-align: center;
    background: #2424ff;
    color: white;
    width: 66px;
    position: relative;
    left: 750px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.4px;
    top: 16px;
}
.input-for-review{
    width: 807px;
    height: 83px;
    margin-left: 15px;
    border:none;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 9px;
    letter-spacing: 0.5px;
}
#stars{
    font-size: 22px;
    margin-left: 15px;
    position: relative;
    bottom: 10px;
}
.para-for-overallrating{
    font-size: 15px;
    font-weight: 600;
    margin-left: 18px;
}
.feedback{
    position: relative;
    bottom: 80px;
}
.para-for-custfeedback{
    font-size: 15px;
    font-weight: 600;
}