.Wishlist{
    height: 90vh;
    width: 68%;
    margin-left: 220px;
}
.WishlistSection1{
    height: 6vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
}
#wishlisttext{
    margin-left: 30px;
}
.WishList1{
    font-size: 12px;
}
#Wishlist2{
    font-size: 10px;
}
.WishlistSection2{
    height: 18vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.wishlistpart1{
    height: 15vh;
    width: 15%;
    justify-content: center;
    align-items: center;
    
}
.wish{
    height: 13vh;
    width: 50%;
    margin-left: 50px;
    margin-top: 10px;
}
.wishlistpart2{
    height: 15vh;
    width: 25%; 
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: space-evenly;
}
.Deleteicon{
    position: relative;
    left: 700px;
    bottom: 50px;
}