.FullName,.PhoneNumber,.Email,.Password{
    height: 2vh;  
    width: 75%;
    margin-top: 0px;
    font:normal 10px "Product Sans";
    font-family: Arial,sans-serif;  
}
.EmailInput,.PasswordInput{
    margin-bottom: 0px;
}
.loginsecondrow2aa{
    font:normal 20px "Product Sans";
    font-family: Arial,sans-serif;
    color: #878787; 
}
.loginsecondrow2bb{
    font:normal 20px "Product Sans";
    font-family: Arial,sans-serif;     
}
#errormsg{
    font:normal 9px "Product Sans";
    font-family: Arial,sans-serif; 
    color: red;    
}